.overlay {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;

	background-color: var(--color-overlay);
	opacity: 1;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: calc(100vw - 48px);
	max-height: calc(100vh - 24px);
	padding: 20px;

	object-fit: cover;
	background-color: var(--color-text);
}